<web-app>
<servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>org.example.endPoints.AddUser</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>AddElection</servlet-name>
        <servlet-class>org.example.endPoints.AddElection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddElection</servlet-name>
        <url-pattern>/AddElection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteElection</servlet-name>
        <servlet-class>org.example.endPoints.DeleteElection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteElection</servlet-name>
        <url-pattern>/DeleteElection</url-pattern>
    </servlet-mapping>
</web-app>
